<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamihc.inventas">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_con_fondo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_sin_fondo"
        android:supportsRtl="true"
        android:theme="@style/Theme.InVentas">
        <activity
            android:name=".activities.HistorialTasaActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.CarritoActivity"
            android:parentActivityName=".activities.CarritoActivity" />
        <activity
            android:name=".activities.FacturaActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.CrearProductoActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>